.alert-fade-enter-active{
  transition: all .5s ease;
}
.alert-fade-leave-active{
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.alert-fade-enter, .alert-fade-leave-to{
  transform: translateX(10px);
  opacity: 0;
}
.alert-fade-move{
  transition: transform 1s;
}